@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li, ol {
  list-style: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: black; }

.h {
  position: absolute;
  opacity: 0;
  left: -999px; }

#header_sub {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  #header_sub .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto; }
    #header_sub .inner h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #header_sub .inner .menuWeb {
      float: left; }
      #header_sub .inner .menuWeb li {
        float: left;
        margin-right: 20px;
        cursor: pointer; }
        #header_sub .inner .menuWeb li a {
          font: 15px/80px 'arial'; }
    #header_sub .inner .util {
      float: right; }
      #header_sub .inner .util li {
        float: left;
        margin-left: 20px;
        cursor: pointer; }
        #header_sub .inner .util li a {
          font: 15px/80px 'arial'; }
    #header_sub .inner .menuMo {
      display: none; }

/*sube page*/
.content {
  width: 100%; }
  .content .sub_visual {
    width: 100%;
    height: 380px;
    background: mediumseagreen; }
    .content .sub_visual h1 {
      font: 70px/380px 'arial';
      text-align: center;
      width: 50%;
      color: #fff;
      float: left; }
    .content .sub_visual .pic {
      width: 50%;
      height: 380px;
      background: #999;
      float: left; }

/*footer_sub*/
#footer_sub {
  width: 100%;
  background: mediumseagreen;
  position: relative; }
  #footer_sub .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner h1 {
      text-align: center;
      font: 40px/1 'Fredericka the Great';
      color: #000;
      letter-spacing: 3px;
      padding: 50px 0 80px; }
    #footer_sub .inner .wrap ul {
      float: left;
      margin-bottom: 150px;
      margin-right: 100px; }
      #footer_sub .inner .wrap ul li {
        margin-bottom: 15px; }
        #footer_sub .inner .wrap ul li:nth-child(1) {
          font: bold 18px/1 'arial'; }
    #footer_sub .inner .wrap .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: gray;
      float: right; }
    #footer_sub .inner .wrap .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 30px; }
      #footer_sub .inner .wrap .text span {
        margin-right: 100px;
        display: inline-block; }
        #footer_sub .inner .wrap .text span:nth-child(3) {
          float: right;
          margin-right: 0; }

.join .sub_visual {
  background-color: palevioletred; }
.join .inner_content {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0; }
  .join .inner_content h2 {
    width: 100%;
    text-align: center;
    font: bold 24px/1 'airial';
    margin-bottom: 50px;
    letter-spacing: 2px; }
  .join .inner_content p {
    text-align: center;
    padding: 0 350px;
    margin-bottom: 20px; }
  .join .inner_content span {
    display: block;
    text-align: center;
    color: palevioletred;
    margin-bottom: 100px; }
  .join .inner_content form {
    padding: 0 100px; }
    .join .inner_content form fieldset {
      border: none;
      width: 100%; }
      .join .inner_content form fieldset table {
        width: 100%; }
        .join .inner_content form fieldset table thead {
          text-align: left;
          font: normal 15px/1 'arial'; }
        .join .inner_content form fieldset table input {
          margin-top: 10px;
          width: 100%;
          height: 50px;
          margin-bottom: 30px;
          background: #fcf4f6;
          border: 1px solid #ddd; }
        .join .inner_content form fieldset table input[id=birthday] {
          width: 33%; }
        .join .inner_content form fieldset table input[id=comments] {
          height: 200px; }
      .join .inner_content form fieldset h3 {
        text-align: left;
        font: normal 20px/1 'arial';
        margin-bottom: 20px; }
      .join .inner_content form fieldset textarea {
        width: 100%; }

.community .sub_visual {
  background-color: mediumpurple; }
.community .inner_content {
  padding: 100px 50px;
  width: 1180px;
  margin: 0 auto; }
  .community .inner_content table {
    width: 100%;
    border-bottom: 5px solid mediumpurple;
    margin-bottom: 50px;
    border-collapse: collapse; }
    .community .inner_content table .h {
      display: none; }
    .community .inner_content table tr {
      background: #fff; }
      .community .inner_content table tr:hover {
        background: rgba(147, 112, 216, 0.6); }
      .community .inner_content table tr th {
        padding: 20px;
        background: mediumpurple;
        color: #fff; }
        .community .inner_content table tr th:nth-of-type(1) {
          width: 10%; }
        .community .inner_content table tr th:nth-of-type(3) {
          width: 15%; }
        .community .inner_content table tr th:nth-of-type(4) {
          width: 15%; }
      .community .inner_content table tr td {
        padding: 20px;
        text-align: center; }
        .community .inner_content table tr td:nth-of-type(2) {
          text-align: left; }
        .community .inner_content table tr td:nth-of-type(3) {
          font-family: "맑은 고딕"; }
        .community .inner_content table tr td a {
          color: #000;
          font-family: "arial";
          line-height: 1.4; }
  .community .inner_content .pagination {
    width: 100%;
    text-align: center; }
    .community .inner_content .pagination::after {
      content: '';
      display: block;
      clear: both; }
    .community .inner_content .pagination .prev {
      float: left;
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      line-height: 45px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      background: mediumpurple; }
    .community .inner_content .pagination .next {
      float: right;
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      line-height: 45px;
      text-align: center;
      background: mediumpurple; }
    .community .inner_content .pagination .numbers {
      display: inline-block;
      font-size: 0; }
      .community .inner_content .pagination .numbers a {
        display: inline-block;
        width: 40px;
        height: 40px;
        font: 15px/40px 'arial';
        color: mediumpurple;
        border-radius: 50%;
        margin: 0 8px;
        transition: 0.5s; }
        .community .inner_content .pagination .numbers a:hover {
          background: mediumpurple;
          color: #fff; }

#footer_sub_community {
  width: 100%;
  background: mediumpurple;
  position: relative; }
  #footer_sub_community .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
    #footer_sub_community .inner h1 {
      text-align: center;
      font: 40px/1 'Fredericka the Great';
      color: #000;
      letter-spacing: 3px;
      padding: 50px 0 80px; }
    #footer_sub_community .inner .wrap ul {
      float: left;
      margin-bottom: 150px;
      margin-right: 100px; }
      #footer_sub_community .inner .wrap ul li {
        margin-bottom: 15px; }
        #footer_sub_community .inner .wrap ul li:nth-child(1) {
          font: bold 18px/1 'arial'; }
    #footer_sub_community .inner .wrap .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: gray;
      float: right; }
    #footer_sub_community .inner .wrap .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 30px; }
      #footer_sub_community .inner .wrap .text span {
        margin-right: 100px;
        display: inline-block; }
        #footer_sub_community .inner .wrap .text span:nth-child(3) {
          float: right;
          margin-right: 0; }

/*tablet -----------------------------------------------*/
@media screen and (max-width: 1179px) {
  .community_content .inner {
    padding: 50px 30px; }
    .community_content .inner table tr th:nth-of-type(1) {
      width: 14%; }
    .community_content .inner table tr th:nth-of-type(3) {
      width: 20%; }
    .community_content .inner table tr th:nth-of-type(4) {
      width: 0%;
      display: none; }
    .community_content .inner table tr td:nth-of-type(4) {
      display: none; }
    .community_content .inner .pagination .numbers a:nth-of-type(n+6) {
      display: none; } }
/* mobile --------------------------------------------------*/
@media screen and (max-width: 539px) {
  .community_content .inner {
    padding: 40px 10px; }
    .community_content .inner table tr th:nth-of-type(1) {
      width: 0%;
      display: none; }
    .community_content .inner table tr th:nth-of-type(3) {
      width: 29%; }
    .community_content .inner table tr td:nth-of-type(1) {
      display: none; }
    .community_content .inner .pagination .numbers a {
      display: none; } }
.gallery .sub_visual {
  background: coral; }
.gallery .sub_content {
  width: 100%; }
  .gallery .sub_content .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative; }
    .gallery .sub_content .inner > h1 {
      width: 100%;
      height: 50px;
      font: 30px/50px 'arial';
      margin-bottom: 50px; }
    .gallery .sub_content .inner .wrap ul {
      position: absolute;
      top: 100px;
      right: 0; }
      .gallery .sub_content .inner .wrap ul li {
        float: left;
        margin-left: 30px;
        margin-bottom: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid coral; }
        .gallery .sub_content .inner .wrap ul li:nth-child(1) {
          background: url(../img/allE.png) no-repeat center/cover; }
        .gallery .sub_content .inner .wrap ul li:nth-child(2) {
          background: url(../img/ringE.png) no-repeat center/cover; }
        .gallery .sub_content .inner .wrap ul li:nth-child(3) {
          background: url(../img/ringE.png) no-repeat center/cover; }
        .gallery .sub_content .inner .wrap ul li:nth-child(4) {
          background: url(../img/earringE.png) no-repeat center/cover; }
        .gallery .sub_content .inner .wrap ul li:nth-child(5) {
          background: url(../img/neckE.png) no-repeat center/cover; }
    .gallery .sub_content .inner .wrap section {
      width: 100%; }
      .gallery .sub_content .inner .wrap section article {
        float: left;
        width: 20%; }
        .gallery .sub_content .inner .wrap section article > div {
          position: relative;
          padding: 14px;
          width: 100%; }
          .gallery .sub_content .inner .wrap section article > div img {
            transition: all 1s; }
          .gallery .sub_content .inner .wrap section article > div .txt {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            text-align: center;
            transition: all 0.5s;
            opacity: 0; }
            .gallery .sub_content .inner .wrap section article > div .txt h2 {
              margin-bottom: 20px; }
            .gallery .sub_content .inner .wrap section article > div .txt p {
              font: 15px/1.3 'arial';
              color: #333; }
        .gallery .sub_content .inner .wrap section article.neck div {
          background: mediumpurple; }
          .gallery .sub_content .inner .wrap section article.neck div img {
            width: 100%;
            clip-path: ellipse(47% 50% at 50% 50%); }
          .gallery .sub_content .inner .wrap section article.neck div .txt {
            background: rgba(0, 0, 0, 0); }
        .gallery .sub_content .inner .wrap section article.earring div {
          background: #3cb371; }
          .gallery .sub_content .inner .wrap section article.earring div img {
            width: 100%;
            clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); }
          .gallery .sub_content .inner .wrap section article.earring div .txt {
            background: rgba(0, 0, 0, 0); }
        .gallery .sub_content .inner .wrap section article.ring div {
          background: #F4B019; }
          .gallery .sub_content .inner .wrap section article.ring div img {
            width: 100%;
            clip-path: inset(6% 6% 6% 6%); }
          .gallery .sub_content .inner .wrap section article.ring div .txt {
            background: rgba(0, 0, 0, 0); }
        .gallery .sub_content .inner .wrap section article:hover .txt {
          opacity: 1;
          bottom: 0;
          background: rgba(0, 0, 0, 0);
          bottom: 30%; }
        .gallery .sub_content .inner .wrap section article:hover img {
          opacity: 0.6; }

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #header .inner .menuWeb {
      float: left; }
      #header .inner .menuWeb li {
        float: left;
        margin-right: 20px; }
        #header .inner .menuWeb li a {
          cursor: pointer;
          font: 15px/80px 'arial'; }
    #header .inner .util {
      float: right; }
      #header .inner .util li {
        float: left;
        margin-left: 20px; }
        #header .inner .util li a {
          cursor: pointer;
          font: 15px/80px 'arial'; }
    #header .inner .menuMo {
      display: none; }

#figure {
  width: 100%;
  height: 100vh;
  background-color: royalblue;
  padding-top: 140px; }
  #figure h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: 120px/1 'Oranienbaum';
    font-weight: lighter;
    width: 100%;
    z-index: 5; }
  #figure .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px; }
    #figure .swiper .swiper-wrapper {
      width: 100%;
      height: 100%; }
      #figure .swiper .swiper-wrapper .swiper-slide {
        width: 400px;
        height: calc(100% - 20px);
        background: #eee;
        filter: grayscale(80%);
        border-radius: 40%;
        background: url(../img/figure_blue.jpg) no-repeat top/cover; }
      #figure .swiper .swiper-wrapper .swiper-slide-active {
        filter: grayscale(0); }
    #figure .swiper .swiper-button-next {
      position: absolute;
      top: 53%;
      right: 30%;
      color: #fff; }
    #figure .swiper .swiper-button-prev {
      position: absolute;
      color: #fff;
      top: 53%;
      left: 30%; }

#favorite {
  width: 100%;
  padding: 100px 0 0 0;
  background: #EFDED6; }
  #favorite .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #favorite .inner h1 {
      font: 40px/1 'arial';
      color: royalblue;
      margin-bottom: 50px; }
    #favorite .inner .wrap .favItem {
      float: left;
      width: 380px;
      height: 500px;
      margin-right: 20px;
      margin-bottom: 100px; }
      #favorite .inner .wrap .favItem:nth-child(3) {
        margin-right: 0; }
      #favorite .inner .wrap .favItem img {
        width: 100%;
        height: 400px;
        background: gray;
        border-radius: 50% 50% 0 0 / 50% 50% 0 0;
        margin-bottom: 30px;
        border-left-width: 4px; }
      #favorite .inner .wrap .favItem h2 {
        font: 25px/1 'arial';
        color: royalblue;
        margin-bottom: 10px; }
      #favorite .inner .wrap .favItem p {
        font: 20px/1 'arial';
        color: #aaa; }
    #favorite .inner a {
      position: absolute;
      top: 0;
      right: 0;
      font: 20px/1 'arial';
      display: block;
      border: 1px solid royalblue;
      padding: 10px 40px;
      border-radius: 50%; }
      #favorite .inner a::after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        position: absolute;
        top: 20px;
        right: 110px;
        background: royalblue; }

#collaboration {
  width: 100%;
  background: royalblue; }
  #collaboration .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0; }
    #collaboration .inner .pic {
      float: left;
      width: 40%;
      height: 500px;
      background: gray;
      border-radius: 50%; }
    #collaboration .inner article {
      float: right;
      width: 60%;
      padding-left: 100px;
      padding-top: 100px; }
      #collaboration .inner article h1 {
        font: 40px/1 'arial';
        color: #fff;
        margin-bottom: 50px; }
      #collaboration .inner article p {
        font: 20px/1.3 'arial';
        color: #ddd;
        margin-bottom: 50px; }
      #collaboration .inner article a {
        font: 20px/1 'arial';
        transform: translateX(300px);
        border: 1px solid #fff;
        padding: 10px 40px;
        color: #eee;
        border-radius: 50%; }

#categories {
  width: 100%;
  padding: 100px 0;
  background: #EFDED6; }
  #categories .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #categories .inner h1 {
      font: 40px/1 'arial';
      color: royalblue;
      margin-bottom: 50px; }
    #categories .inner .wrap article {
      float: left;
      margin-right: 20px;
      background: #fff;
      width: 380px;
      height: 450px;
      margin-bottom: 40px;
      transition: .4s;
      padding: 20px; }
      #categories .inner .wrap article:hover {
        background: royalblue; }
      #categories .inner .wrap article:nth-child(1) div {
        width: 100%;
        height: 100%;
        border: 1px solid #999;
        padding: 20px; }
        #categories .inner .wrap article:nth-child(1) div .img {
          width: 100%;
          height: 100%;
          background: #999; }
      #categories .inner .wrap article:nth-child(2) {
        clip-path: ellipse(45% 50% at 50% 50%);
        padding: 20px; }
        #categories .inner .wrap article:nth-child(2) .img {
          clip-path: ellipse(45% 50% at 50% 50%);
          width: 100%;
          height: 100%;
          background: #aaa; }
      #categories .inner .wrap article:nth-child(3) {
        margin-right: 0;
        border-radius: 0 70% 0 0 / 0 70% 0 0; }
        #categories .inner .wrap article:nth-child(3) div {
          width: 100%;
          height: 100%;
          border-radius: 0 70% 0 0 / 0 70% 0 0;
          border: 1px solid #999;
          padding: 20px; }
          #categories .inner .wrap article:nth-child(3) div .img {
            width: 100%;
            height: 100%;
            border-radius: 0 70% 0 0 / 0 70% 0 0;
            background: #999; }
      #categories .inner .wrap article:nth-child(4) {
        border-radius: 0 0 0 35% / 0 0 0 35%; }
        #categories .inner .wrap article:nth-child(4) div {
          width: 100%;
          height: 100%;
          border-radius: 0 0 0 35% / 0 0 0 35%;
          border: 1px solid #999;
          padding: 20px; }
          #categories .inner .wrap article:nth-child(4) div .img {
            width: 100%;
            height: 100%;
            border-radius: 0 0 0 35% / 0 0 0 35%;
            background: #999; }
      #categories .inner .wrap article:nth-child(5) {
        border-radius: 50% 50% 0 0 / 50% 50% 0 0; }
        #categories .inner .wrap article:nth-child(5) div {
          width: 100%;
          height: 100%;
          border-radius: 50% 50% 0 0 / 50% 50% 0 0;
          border: 1px solid #999;
          padding: 20px; }
          #categories .inner .wrap article:nth-child(5) div .img {
            width: 100%;
            height: 100%;
            border-radius: 50% 50% 0 0 / 50% 50% 0 0;
            background: #999; }
      #categories .inner .wrap article:nth-child(6) {
        margin-right: 0;
        border-radius: 40% 0 40% 0 / 40% 0 40% 0; }
        #categories .inner .wrap article:nth-child(6) div {
          width: 100%;
          height: 100%;
          border-radius: 40% 0 40% 0 / 40% 0 40% 0;
          border: 1px solid #999;
          padding: 20px; }
          #categories .inner .wrap article:nth-child(6) div .img {
            width: 100%;
            height: 100%;
            border-radius: 40% 0 40% 0 / 40% 0 40% 0;
            background: #999; }

/*footer*/
#footer {
  width: 100%;
  background: royalblue;
  position: relative; }
  #footer .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
    #footer .inner h1 {
      text-align: center;
      font: 40px/1 'Fredericka the Great';
      color: #000;
      letter-spacing: 3px;
      padding: 50px 0 80px; }
    #footer .inner .wrap ul {
      float: left;
      margin-bottom: 150px;
      margin-right: 100px; }
      #footer .inner .wrap ul li {
        margin-bottom: 15px; }
        #footer .inner .wrap ul li:nth-child(1) {
          font: bold 18px/1 'arial'; }
    #footer .inner .wrap .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: gray;
      float: right; }
    #footer .inner .wrap .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 30px; }
      #footer .inner .wrap .text span {
        margin-right: 100px;
        display: inline-block; }
        #footer .inner .wrap .text span:nth-child(3) {
          float: right;
          margin-right: 0; }

/*# sourceMappingURL=style.css.map */
