@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li, ol {
  list-style: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: black; }

.h {
  position: absolute;
  opacity: 0;
  left: -999px; }

#header_sub {
  width: 100%;
  background: #D9AFA8; }
  #header_sub .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font: bold 40px/80px 'Fredericka the Great'; }
    #header_sub .inner .menuWeb {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header_sub .inner .menuWeb li {
        float: left;
        font: 18px/100px 'arial';
        margin-right: 20px; }
    #header_sub .inner .util {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header_sub .inner .util li {
        float: left;
        top: 50%;
        font: 18px/100px 'arial';
        margin-left: 20px; }
    #header_sub .inner .btnCall {
      width: 20px;
      height: 20px;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 6;
      display: none; }
      #header_sub .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1px;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: black;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 1px;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 100%;
        height: 3px;
        background: black;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        border-radius: 1px;
        left: 0;
        transition: all 0.5s;
        text-indent: -9999px; }
      #header_sub .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header_sub .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header_sub .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .menuMo {
      width: 200px;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -210px;
      z-index: 5;
      margin: 10px;
      background: #d89a8f;
      border-radius: 10px;
      opacity: 0.7;
      transition: .3s; }
      #header_sub .inner .menuMo.on {
        right: 0; }
      #header_sub .inner .menuMo h1 {
        font-size: 25px;
        position: absolute;
        top: 10px;
        left: 10px;
        font: 25px/1 'Fredericka the Great'; }
      #header_sub .inner .menuMo #gnbMo {
        margin-top: 50px; }
        #header_sub .inner .menuMo #gnbMo li a {
          display: block;
          width: 100%;
          padding: 20px 0;
          font: bold 14px/1 "arial";
          color: #000;
          text-align: center; }
      #header_sub .inner .menuMo #sns {
        position: absolute;
        bottom: 15px;
        left: 10px; }
        #header_sub .inner .menuMo #sns li::after {
          content: '';
          display: block;
          clear: both; }
        #header_sub .inner .menuMo #sns li:nth-child(1) {
          float: left;
          margin-right: 50px; }
        #header_sub .inner .menuMo #sns li:nth-child(2) {
          float: left;
          margin-right: 50px; }
        #header_sub .inner .menuMo #sns li:nth-child(3) {
          float: right; }
        #header_sub .inner .menuMo #sns li a {
          font: 25px/1 'arial'; }
      #header_sub .inner .menuMo:hover {
        opacity: 1; }

.content .sub_visual {
  width: 100%;
  height: 300px;
  background: url(../img/sub2.jpg) no-repeat top/cover fixed; }
  .content .sub_visual h1 {
    font: bold 60px/300px 'Cormorant';
    color: #444;
    text-align: center; }

/*footer_sub*/
#footer_sub {
  width: 100%;
  background: #D9AFA8;
  position: relative; }
  #footer_sub .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner h1 {
      text-align: center;
      font: 40px/1 'Fredericka the Great';
      color: #000;
      letter-spacing: 3px;
      padding: 50px 0 80px; }
    #footer_sub .inner .wrap ul {
      float: left;
      margin-bottom: 150px;
      margin-right: 100px; }
      #footer_sub .inner .wrap ul li {
        margin-bottom: 15px; }
        #footer_sub .inner .wrap ul li:nth-child(1) {
          font: bold 18px/1 'arial'; }
    #footer_sub .inner .wrap .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: gray;
      float: right; }
    #footer_sub .inner .wrap .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 30px; }
      #footer_sub .inner .wrap .text span {
        margin-right: 100px;
        display: inline-block; }
        #footer_sub .inner .wrap .text span:nth-child(3) {
          float: right;
          margin-right: 0; }

.join .sub_visual {
  background: url(../img/sub3.jpg) no-repeat center/cover fixed; }
.join .inner_content {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0; }
  .join .inner_content form {
    width: 100%;
    padding: 0 50px; }
    .join .inner_content form fieldset {
      border: none; }
      .join .inner_content form fieldset h2 {
        font: bold 18px/1 'arial';
        color: #333;
        margin-bottom: 20px; }
      .join .inner_content form fieldset #terms {
        width: 100%;
        height: 100px;
        resize: none;
        font: 12px/1.3 'Cormorant';
        color: #888;
        background: #eee;
        margin-bottom: 10px;
        padding: 20px; }
      .join .inner_content form fieldset .agreement {
        margin-bottom: 30px; }
        .join .inner_content form fieldset .agreement label[for=agree] {
          font-size: 15px; }
      .join .inner_content form fieldset table {
        width: 100%;
        margin-bottom: 30px; }
        .join .inner_content form fieldset table thead {
          display: block;
          border-bottom: 2px solid #D9AFA8;
          color: #222;
          font: bold 18px/1 'Cormorant'; }
        .join .inner_content form fieldset table tbody tr td {
          padding-top: 10px; }
          .join .inner_content form fieldset table tbody tr td input[type=text], .join .inner_content form fieldset table tbody tr td input[type=password], .join .inner_content form fieldset table tbody tr td input[type=number] {
            width: 50%;
            height: 30px;
            border: 1px solid #bbb;
            background: #fff;
            padding-left: 10px; }
          .join .inner_content form fieldset table tbody tr td input[id=birthday] {
            width: 20%;
            height: 30px; }
          .join .inner_content form fieldset table tbody tr td input[id=comments] {
            width: 100%;
            height: 60px; }
      .join .inner_content form fieldset input[type=reset], .join .inner_content form fieldset input[type=submit] {
        margin-top: 30px;
        width: 100px;
        height: 30px;
        border: 1px solid #bbb;
        background: #fff;
        margin-right: 10px;
        transition: all .3s; }
        .join .inner_content form fieldset input[type=reset]:hover, .join .inner_content form fieldset input[type=submit]:hover {
          background: #D9AFA8;
          border: 1px solid rgba(0, 0, 0, 0); }

.content .sub_visual {
  background-image: url(../img/sub1.jpg);
  background-position: left bottom;
  background-size: cover;
  background-attachment: scroll; }
.content .inner_content {
  width: 100%; }

.community .inner_content {
  padding: 100px 50px;
  width: 1180px;
  margin: 0 auto; }
  .community .inner_content table {
    width: 100%;
    border-bottom: 5px solid #db8f7d;
    margin-bottom: 50px;
    border-collapse: collapse; }
    .community .inner_content table .h {
      display: none; }
    .community .inner_content table tr {
      background: #fff; }
      .community .inner_content table tr:hover {
        background: royalblue; }
      .community .inner_content table tr th {
        padding: 20px;
        background: #db8f7d;
        color: #fff; }
        .community .inner_content table tr th:nth-of-type(1) {
          width: 10%; }
        .community .inner_content table tr th:nth-of-type(3) {
          width: 15%; }
        .community .inner_content table tr th:nth-of-type(4) {
          width: 15%; }
      .community .inner_content table tr td {
        padding: 20px;
        text-align: center; }
        .community .inner_content table tr td:nth-of-type(2) {
          text-align: left; }
        .community .inner_content table tr td:nth-of-type(3) {
          font-family: "맑은 고딕"; }
        .community .inner_content table tr td a {
          color: #000;
          font-family: "arial";
          line-height: 1.4; }
  .community .inner_content .pagination {
    width: 100%;
    text-align: center; }
    .community .inner_content .pagination::after {
      content: '';
      display: block;
      clear: both; }
    .community .inner_content .pagination .prev {
      float: left;
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      line-height: 45px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      background: #db8f7d; }
    .community .inner_content .pagination .next {
      float: right;
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      line-height: 45px;
      text-align: center;
      background: #db8f7d; }
    .community .inner_content .pagination .numbers {
      display: inline-block;
      font-size: 0; }
      .community .inner_content .pagination .numbers a {
        display: inline-block;
        width: 40px;
        height: 40px;
        font: 15px/40px 'arial';
        color: #db8f7d;
        border-radius: 50%;
        margin: 0 8px;
        transition: 0.5s; }
        .community .inner_content .pagination .numbers a:hover {
          background: #db8f7d;
          color: #fff; }

/*tablet -----------------------------------------------*/
@media screen and (max-width: 1179px) {
  .community_content .inner {
    padding: 50px 30px; }
    .community_content .inner table tr th:nth-of-type(1) {
      width: 14%; }
    .community_content .inner table tr th:nth-of-type(3) {
      width: 20%; }
    .community_content .inner table tr th:nth-of-type(4) {
      width: 0%;
      display: none; }
    .community_content .inner table tr td:nth-of-type(4) {
      display: none; }
    .community_content .inner .pagination .numbers a:nth-of-type(n+6) {
      display: none; } }
/* mobile --------------------------------------------------*/
@media screen and (max-width: 539px) {
  .community_content .inner {
    padding: 40px 10px; }
    .community_content .inner table tr th:nth-of-type(1) {
      width: 0%;
      display: none; }
    .community_content .inner table tr th:nth-of-type(3) {
      width: 29%; }
    .community_content .inner table tr td:nth-of-type(1) {
      display: none; }
    .community_content .inner .pagination .numbers a {
      display: none; } }
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #header .inner .menuWeb {
      float: left; }
      #header .inner .menuWeb li {
        float: left;
        margin-right: 20px; }
        #header .inner .menuWeb li a {
          font: 15px/80px 'arial'; }
    #header .inner .util {
      float: right; }
      #header .inner .util li {
        float: left;
        margin-left: 20px; }
        #header .inner .util li a {
          font: 15px/80px 'arial'; }

#figure {
  width: 100%;
  height: 100vh;
  background: royalblue;
  padding-top: 100px; }
  #figure h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: 100px/1 'arial';
    width: 100%;
    z-index: 5; }
  #figure .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px; }
    #figure .swiper .swiper-wrapper {
      width: 100%;
      height: 100%; }
      #figure .swiper .swiper-wrapper .swiper-slide {
        width: 200px;
        height: 480px;
        background: #eee; }

#favorite {
  width: 100%;
  padding: 100px 0 0 0;
  background: #EFDED6; }
  #favorite .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #favorite .inner h1 {
      font: 40px/1 'arial';
      color: royalblue;
      margin-bottom: 50px; }
    #favorite .inner .wrap .favItem {
      float: left;
      width: 380px;
      height: 500px;
      margin-right: 20px;
      margin-bottom: 100px; }
      #favorite .inner .wrap .favItem:nth-child(3) {
        margin-right: 0; }
      #favorite .inner .wrap .favItem img {
        width: 100%;
        height: 400px;
        background: gray;
        border-radius: 50% 50% 0 0 / 50% 50% 0 0;
        margin-bottom: 30px;
        border-left-width: 4px;
        transition: 1s;
        opacity: 0.5; }
      #favorite .inner .wrap .favItem h2 {
        font: 25px/1 'arial';
        color: royalblue;
        margin-bottom: 10px; }
      #favorite .inner .wrap .favItem p {
        font: 20px/1 'arial';
        color: #aaa; }
      #favorite .inner .wrap .favItem.on img {
        transform: rotate(20deg);
        border: 3px solid royalblue; }
    #favorite .inner a {
      position: absolute;
      top: 0;
      right: 0;
      font: 20px/1 'arial';
      display: block;
      border: 1px solid royalblue;
      padding: 10px 40px;
      border-radius: 50%; }
      #favorite .inner a::after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        position: absolute;
        top: 20px;
        right: 110px;
        background: royalblue; }

#collaboration {
  width: 100%;
  background: royalblue; }
  #collaboration .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0; }
    #collaboration .inner .pic {
      float: left;
      width: 40%;
      height: 500px;
      background: gray;
      border-radius: 50% 50% 0 0 / 50% 50% 0 0; }
    #collaboration .inner article {
      float: right;
      width: 60%;
      padding-left: 100px;
      padding-top: 100px; }
      #collaboration .inner article h1 {
        font: 40px/1 'arial';
        color: #fff;
        margin-bottom: 50px; }
      #collaboration .inner article p {
        font: 20px/1.3 'arial';
        color: #ddd;
        margin-bottom: 50px; }
      #collaboration .inner article a {
        font: 20px/1 'arial';
        transform: translateX(300px);
        border: 1px solid #fff;
        padding: 10px 40px;
        color: #eee;
        border-radius: 50%; }

#categories {
  width: 100%;
  padding: 100px 0;
  background: #EFDED6; }
  #categories .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #categories .inner h1 {
      font: 40px/1 'arial';
      color: royalblue;
      margin-bottom: 50px; }
    #categories .inner .wrap article:nth-child(1), #categories .inner .wrap article:nth-child(2), #categories .inner .wrap article:nth-child(3), #categories .inner .wrap article:nth-child(5) {
      float: left;
      margin-right: 20px;
      background: #fff;
      width: 380px;
      height: 500px;
      border-radius: 20px;
      margin-bottom: 20px; }
    #categories .inner .wrap article:nth-child(3) {
      margin-right: 0;
      background: royalblue; }
    #categories .inner .wrap article:nth-child(4) {
      float: left;
      margin-right: 20px;
      background: #fff;
      width: 780px;
      height: 500px;
      border-radius: 20px;
      margin-bottom: 50px; }
    #categories .inner .wrap article:nth-child(5) {
      margin-right: 0; }

/*new*/
#new {
  width: 100%;
  position: relative;
  background: royalblue; }
  #new .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0; }
    #new .inner h1 {
      font: 40px/1 'arial';
      color: #fff;
      margin-bottom: 50px; }
    #new .inner .wrap article {
      float: left;
      width: 180px;
      height: 180px;
      background: gray;
      margin-right: 20px;
      border-radius: 50%; }
      #new .inner .wrap article:nth-child(6) {
        margin-right: 0; }

/*footer*/
#footer {
  width: 100%;
  background: #EFDED6;
  position: relative; }
  #footer .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
    #footer .inner h1 {
      text-align: center;
      font: 40px/1 'Fredericka the Great';
      color: #000;
      letter-spacing: 3px;
      padding: 50px 0 80px; }
    #footer .inner .wrap ul {
      float: left;
      margin-bottom: 150px;
      margin-right: 100px; }
      #footer .inner .wrap ul li {
        margin-bottom: 15px; }
        #footer .inner .wrap ul li:nth-child(1) {
          font: bold 18px/1 'arial'; }
    #footer .inner .wrap .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: gray;
      float: right; }
    #footer .inner .wrap .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 30px; }
      #footer .inner .wrap .text span {
        margin-right: 100px;
        display: inline-block; }
        #footer .inner .wrap .text span:nth-child(3) {
          float: right;
          margin-right: 0; }

/*# sourceMappingURL=style.css.map */
