.about{
    .content_sub{
        width: 100%;
        background: #E7DDD4;
        .inner{
            width: 1180px;
            margin: 0 auto;
            
            article{
                padding: 50px 0;
                &.first{
                    padding-top: 100px;
                    .wrap{
                        width: 100%;
                        .img{
                            float: left;
                            width: 50%;
                            padding-right: 150px;
                            .pic{
                                width: 100%; height: 500px;
                                background: url(../img/about.jpeg) no-repeat center/cover;
                                border-radius: 50% 50% 0 0 / 50% 50% 0 0;
                                position: relative;
                                &::after{
                                    display: block; content:'';
                                    position: absolute;
                                    width: 200px;
                                    height: 250px;
                                    right: -100px; bottom:0;
                                    background: #999;
                                }
                            }
                        }
                        .text{
                            float: right;
                            width: 50%;
                            padding-top: 50px;
                            h1{
                                font: bold 40px/1 'Gilda Display';
                                margin-bottom: 70px;
                                color:#A52F1D;
                            }
                            p{
                                font: 15px/1.5 'Lato';
                                color: #444;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
                &.second{
                    .wrap{
                        width: 100%;
                        .text{
                            padding: 50px 0;
                            float:left;
                            width: 50%;
                            padding-right: 100px;
                            h1{
                                font: bold 40px/1 'Gilda Display';
                                margin-bottom: 70px;
                                color:#A52F1D;
                            }
                            p{
                                font: 15px/1.5 'Lato';
                                color: #444;
                            }
                            ul{
                                li{
                                    margin-bottom: 20px;
                                    p{
                                        font: 15px/1.5 'Lato';
                                        color: #444;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        .img{
                            float: right;
                            width: 50%;
                            .pic{
                                width: 100%; height: 580px;
                                background: url(../img/about.jpeg) no-repeat center/cover;
                            }
                        }
                    }
                }
            }
        }
    }

    #content_sub_video{
        
    }
}