@charset "UTF-8"; 




//서브페이지 메인
.content{
    .sub_visual{
        background-image: url(../img/sub1.jpg);
        background-position: left bottom;
        background-size: cover;
        background-attachment: scroll;
        }
    .inner_content{
        width: 100%;
    }
}


