@charset 'UTF-8';


.community{
    .sub_visual{
        background-color: mediumpurple;
    }
    .inner_content{
        padding: 100px 50px;
        width: 1180px;
        margin:0 auto;
        table{
            width:100%; 
            border-bottom:5px solid mediumpurple; 
            margin-bottom:50px; 
            border-collapse: collapse;
            .h{display: none;}
            tr{
                background:#fff; 
                &:hover{
                    background:rgba(147, 112, 216, 0.6); 
                }
                th{
                    padding:20px; background: mediumpurple; 
                    color:#fff; 

                    &:nth-of-type(1){ width:10%; }
                    &:nth-of-type(3){ width:15%; }
                    &:nth-of-type(4){ width:15%; }
                }

                td{
                    padding:20px; 
                    text-align:center; 

                    &:nth-of-type(2){ text-align:left; }
                    &:nth-of-type(3){ font-family:"맑은 고딕"; }
                    a{
                        color:#000; font-family:"arial"; line-height:1.4; 
                    }
                }
            }
        }

        .pagination{
            width:100%; text-align:center;  

            &::after{
                content:''; display:block; clear:both; 
            }
            .prev{
                float:left; 
                display:block; 
                width:45px; height:45px; 
                border-radius: 50%;
                line-height: 45px;
                font-size:30px; color:#fff; 
                text-align:center; 
                background:mediumpurple; 
            }
            .next{
                float:right; 
                display:block; 
                width:45px; height:45px; 
                border-radius: 50%;
                font-size:30px; color:#fff; 
                line-height: 45px;
                text-align:center; 
                background:mediumpurple;
            }

            .numbers{
                display:inline-block; 
                font-size:0; 
                a{
                    display:inline-block; 
                    width:40px; height:40px; 
                    font:15px/40px 'arial'; color:mediumpurple; 
                    border-radius: 50%;
                    margin:0 8px; 
                    transition:0.5s; 

                    &:hover{
                        background:mediumpurple; 
                        color:#fff; 
                    }
                }
            }
        }
    }
}

#footer_sub_community{
    width: 100%;
    background:mediumpurple;
    position: relative;
    .inner{
        position: relative;
        width: 1180px;
        margin: 0 auto;
        h1{
            text-align: center;
            font: 40px/1 'Fredericka the Great';
            color: #000; letter-spacing: 3px;
            padding: 50px 0 80px;
        }
        .wrap{
            ul{
                float: left;
                margin-bottom: 150px;
                margin-right: 100px;
                li{
                    margin-bottom: 15px;
                    &:nth-child(1){
                        font: bold 18px/1 'arial';
                    }
                }
            }
            .circle{
                width: 100px; height: 100px;
                border-radius: 50%;
                background: gray;
                float: right;
            }
            .text{
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-bottom: 30px;
                span{
                    margin-right: 100px;
                    display: inline-block;
                    &:nth-child(3){
                        float: right;
                        margin-right: 0;

                    }
                }
            }
        }
    }
}


/*tablet -----------------------------------------------*/
@media screen and (max-width:1179px){
    .community_content{         
        .inner{
            padding: 50px 30px;
            table{               
    
                tr{                    
                    th{    
                        &:nth-of-type(1){ width:14%; }
                        &:nth-of-type(3){ width:20%; }
                        &:nth-of-type(4){ width:0%; display:none;  }
                    }
    
                    td{                       
                        &:nth-of-type(4){ display:none; }                        
                    }
                }
            }
            .pagination{
                .numbers{
                    a{     
                       &:nth-of-type(n+6){ display:none; }                     
                    }
                }
            }
        }
    }    
}


/* mobile --------------------------------------------------*/
@media screen and (max-width:539px){
    .community_content{         
    
        .inner{    
            padding: 40px 10px;         
            table{               
                 tr{                    
                    th{    
                        &:nth-of-type(1){ width:0%; display:none;  }
                        &:nth-of-type(3){ width:29%; }
                    }
    
                    td{                       
                        &:nth-of-type(1){ display:none; }                        
                    }
                }
            }
    
            .pagination{                 
                .numbers{
                    a{     
                            display:none;                          
                    }
                }
            }
        }
    } 
}

