.gallery {
	.content_sub {
		width: 100%;
		background: #e7ddd4;
		.inner {
			width: 1180px;
			margin: 0 auto;
			padding: 50px 0;

			main {
				width: 100%;
				min-height: 600px;
				#searchBox {
					width: 100%;
					display: flex;
					justify-content: center;
					padding: 30px 5px;

					input {
						height: 30px;
						width: 30%;
						border: none;
						background: #e7ddd4;
						border-bottom: 1px solid #a52f1d;
						margin-right: 20px;
						outline: none;
					}
					.btnSearch {
						background: #e7ddd4;
						width: 100px;
						font-size: 20px;
						font: 20px/1 'Gilda Display';
						border: 1px solid #a52f1d;
						background: #a52f1d;
						color: #fff;
					}
				}
				.loading {
					width: 300px;
					position: absolute;
					top: 30%;
					left: 50%;
					transform: translateX(-50%);
					transition: 0.5s;

					&.off {
						opacity: 0;
					}
				}
				section {
					width: 100%;
					overflow: hidden;
					position: relative;
					opacity: 0;
					transform: translateY(100px);
					transition: 1s;
					&.on {
						opacity: 1;
						transform: translateY(0);
					}
					&::after {
						content: '';
						display: block;
						clear: both;
					}

					.item {
						width: 20%;
						float: left;
						padding: 5px;

						> div {
							background: #f9f9f9;
							width: 100%;
							padding: 10px;
							transition: 0.3s;

							.pic {
								display: block;
								width: 100%;
								padding: 10px;
								border: 1px solid #f3e9e0;
								//display: block;

								img {
									width: 100%;
									filter: grayscale(1);
									transition: 0.3s;
								}
								p {
									font: 12px/1.2 'Lato';
									color: #a52f1d;
									margin: 2px 0;
									transition: 0.3s;
								}
							}
						}

						&:hover {
							> div {
								background: #a52f1d;
								.pic {
									img {
										filter: grayscale(0);
									}
									p {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

aside {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.con {
		width: 100%;
		height: 100%;

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.close {
		position: absolute;
		top: 40px;
		right: 40px;
		color: #a52f1d;
		cursor: pointer;
	}
}
