@charset 'utf-8';

*{margin:0; padding: 0; box-sizing: border-box;
font-family: 'Lato';}
li, ul, ol{list-style: none;}
a{text-decoration: none;}
.h{position: absolute; top:-999px; opacity: 0;}
.wrap::after{display: block; content:''; clear:both;}