@charset "UTF-8"; 



//header
#header_sub{
    width: 100%;
    position: absolute;
    top:0; left: 0;
    z-index: 3;
    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        h1{
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
        .menuWeb{
            float:left;
            li{
                float:left;
                margin-right: 20px;
                cursor: pointer;
                a{  
                    font: 15px/80px 'arial';
                }
            }
        }
        .util{
            float:right;
            li{
                float:left;
                margin-left: 20px;
                cursor: pointer;
                a{  
                    font: 15px/80px 'arial';
                }
            }
        }
        .menuMo{
            display: none;
        }
    }
}


/*sube page*/
.content{
    width: 100%;
    .sub_visual{
        width: 100%;
        height: 380px;
        background: mediumseagreen;
        h1{
            font: 70px/380px 'arial';
            text-align: center;
            width: 50%;
            color:#fff;
            float: left;
        }
        .pic{
            width: 50%;
            height: 380px;
            background: #999;
            float: left;
        }
    }
}





/*footer_sub*/
#footer_sub{
    width: 100%;
    background: mediumseagreen;
    position: relative;
    .inner{
        position: relative;
        width: 1180px;
        margin: 0 auto;
        h1{
            text-align: center;
            font: 40px/1 'Fredericka the Great';
            color: #000; letter-spacing: 3px;
            padding: 50px 0 80px;
        }
        .wrap{
            ul{
                float: left;
                margin-bottom: 150px;
                margin-right: 100px;
                li{
                    margin-bottom: 15px;
                    &:nth-child(1){
                        font: bold 18px/1 'arial';
                    }
                }
            }
            .circle{
                width: 100px; height: 100px;
                border-radius: 50%;
                background: gray;
                float: right;
            }
            .text{
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-bottom: 30px;
                span{
                    margin-right: 100px;
                    display: inline-block;
                    &:nth-child(3){
                        float: right;
                        margin-right: 0;

                    }
                }
            }
        }
    }
}